@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* , .c-toast{
  font-family: 'Poppins', sans-serif !important;
}


.container-app{
  max-width: 930px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto
}

