@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* , .c-toast{
  font-family: 'Poppins', sans-serif !important;
}


.container-app{
  max-width: 1000px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}